services:
  mongo:
    image: mongo:7
    container_name: mymongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 1234
    volumes:
      - ./dbdata:/data/db

  nestjs:
    build: .
    container_name: mynestjs
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    depends_on:
      - mongo
    volumes:
      - .:/app
      - /app/node_modules